<section *ngIf="route.children.length === 0"
         class="container">
  <app-search (searchButtonClicked)="onSearchButtonClicked($event)"
              [placeholder]="'Type something'"
  ></app-search>
  <app-button *ngIf="(userStateFacade.$isAdmin | async)  && courses.length"
              [buttonText]="'Add new course'"
              [routerLink]="['new']"

  ></app-button>
  <ng-template #emptyInfo>
    <app-info
      [infoBoxContent]="'Please use the \'Add new course\' button to add your first course'"
      [infoBoxHeading]="'Your list is empty'"
      class="info-box">
      <app-button [buttonText]="'Add new course'"
                  [routerLink]="['/courses/new']"
                  addNewCourseInfoButton></app-button>
    </app-info>
  </ng-template>
  <div *ngIf="isLoading; else courseList" class="big spinner-border" role="status"></div>
  <ng-template #courseList>
    <app-course-list (courseCardActionButtonClicked)="actionButtonClicked($event)"
                     *ngIf="courses.length; else emptyInfo"
                     [courses]="courses"></app-course-list>
    <app-confirm-modal (onModalButtonClicked)="modalClicked($event)"
                       *ngIf="modalShow"
                       [cancelButtonText]="'CANCEL'"
                       [message]="'Are you sure want to delete this course?'"
                       [okButtonText]="'DELETE'"
                       [title]="'Are you sure?'"
    ></app-confirm-modal>
  </ng-template>
</section>
<section class="container">
  <router-outlet></router-outlet>
</section>

