<section class="courses-container">
  <app-header>
    <span userNameHeader>{{'Dave'}}</span>
    <app-button headerLogoutButton [buttonText]="'Logout'" [buttonIcon]="'fa fa-sign-out'"></app-button>
  </app-header>
  <app-info [infoBoxHeading]="'Your list is empty'"
    [infoBoxContent]="'Please use the \'Add new course\' button to add your first course'">
    <app-button addNewCourseInfoButton [buttonText]="'Add new course'"></app-button>
  </app-info>
  <app-course-list [courses]="courses"></app-course-list>
</section>
