<div class="course-card">
  <div class="course-card-text">
    <p class="course-card-text-heading">{{ courseElement.name }}</p>
    <p class="course-card-text-description">{{ courseElement.description }}</p>
  </div>
  <div class="course-card-data">
    <p class="course-card-data-author">Authors:<span
        class="course-card-data-author-content">{{ courseElement.author }}</span></p>
    <p class="course-card-data-duration">Duration:<span class="course-card-data-duration-content">{{ courseElement.duration }}</span></p>
    <p class="course-card-data-created">Created:<span class="course-card-data-created-content">{{ courseElement.created }}</span></p>
    <div class="course-card-cockpit">
      <app-button [buttonText]="'Show course'"></app-button>
      <app-button *ngIf="courseElement.editable" [buttonIcon]="'fa fa-pencil'"></app-button>
      <app-button *ngIf="courseElement.editable" [buttonIcon]="'fa fa-trash'"></app-button>
    </div>
  </div>