.course-card {
  display: flex;
  align-content: space-between;
  border: 2px solid lightgreen;
  padding: 2rem;
  margin: 2rem;
  text-align: justify;

  &-text {
    margin-right: auto;
    padding-right: 1rem;
    max-width: 50vw;


    &-heading {
      font-size: 2rem;
      font-weight: bold;
    }

    &-description {
      font-size: 1rem;
    }
  }

  &-data {
    margin-left: auto;
    padding-left: 1rem;
    font-size: 1.35rem;

    &-author {
      font-weight: bold;

      &-content {
        font-weight: normal;
        margin-left: 1rem;
      }
    }

    &-duration {
      font-weight: bold;

      &-content {
        font-weight: normal;
        margin-left: 1rem;
      }
    }

    &-created {
      font-weight: bold;

      &-content {
        font-weight: normal;
        margin-left: 1rem;
      }
    }
  }

  &-cockpit {
    text-align: center;
  }
}