.button-common {
  background: white;
  color: black;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;

  transition: 0.2s;
  cursor: pointer;

  border: 2px solid purple;

  padding-left: 1.7rem;
  padding-right: 1.7rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.button-common:hover:enabled {
  background-color: purple;
  color: white;
}

.button-common:focus {
  background-color: rebeccapurple;
  color: white
}

.button-common:active {
  background-color: darkmagenta;
  color: white;
}

.button-common:disabled {
  color: white;
  cursor: default;
  border: none;
  background: lightgrey;
}
