<app-course-card *ngFor="let course of courses; index as i" [courseElement]="course">
  <ng-container courseCardActionButtons>
    <ng-container *ngFor="let button of courseCardActionButtons">
      <app-button (click)="onCourseCardActionButtonClicked(button.type, course)"
                  *ngIf="button.admin === isAdmin || isAdmin"
                  [buttonIcon]="button.buttonIcon" [buttonText]="button.buttonText"></app-button>
    </ng-container>
  </ng-container>
</app-course-card>
<p (click)="demoNgrx()" class="btn btn-success m-3">Click me - trigger Ngrx REQUEST_CURRENT_USER_START</p>
<p> Loading? - {{ userState.$isLoading | async }}</p>
<p> Username? - {{ userState.$name | async }}</p>
<p> isAdmin? - {{ userState.$isAdmin | async }}</p>
<p> role? - {{ userState.$role | async }}</p>
