<div class="course-edit-container">
  <form (ngSubmit)="onSubmit()"
        [formGroup]="courseForm"
        class="course-edit-container-form">
    <div formGroupName="courseData">
      <label for="title">Title</label>
      <div class="course-edit-container-form-title-box">
        <input formControlName="title"
               id="title"
               name="title"
               type="text">
        <app-button
          [buttonText]="'Create course'"
          [buttonType]="'submit'"
        ></app-button>
      </div>
      <label for="title">Description</label>
      <div class="course-edit-container-form-desc-box">
        <textarea formControlName="desc"
                  id="desc"
                  name="desc"
                  type="textarea"></textarea>
      </div>
      <label for="title">Duration (in minutes)</label>
      <div class="course-edit-container-form-duration_box">
        <input formControlName="duration"
               id="duration"
               name="duration"
               type="number">
        <span>Duration: {{this.courseForm.get('courseData.duration')?.value | minutes}}</span>
      </div>
    </div>
    <div class="course-edit-container-form-authors" formGroupName="newAuthor">
      <div class="course-edit-container-form-authors-left_side">
        <p>Add authors</p>
        <label for="title">Author name</label>
        <div class="course-edit-container-form-authors-left_side-author-box">
          <input formControlName="authorName"
                 id="authorName"
                 name="authorName"
                 type="text">
        </div>
        <app-button [buttonText]="'Create author'"></app-button>
      </div>
      <div class="course-edit-container-form-authors-right_side">
        <p>Authors list</p>
        <div class="course-edit-container-form-authors-right_side-author_list_box">
          <div class="course-edit-container-form-authors-right_side-author_list_box-element">
            <span class="">Foo One</span>
            <app-button [buttonText]="'Delete author'"></app-button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
